---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
const imageSrc = import.meta.env.PROD ? `${import.meta.env.BASE_URL}footer.webp` : '/footer.webp'
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <div class="flex justify-center mb-4">
        <img src={imageSrc} alt="Somorrostro AI&BD Team Banner" class="w-3/4 md:w-1/2 lg:w-2/5 h-auto" />
      </div>
      <p>
        &copy; {currentYear} -  Made with ❤️ by <a
          href="https://github.com/mikel-diez"> somorrostro AI&BD Team</a>.
      </p>
    </div>
  </section>
</footer>
